<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
<title>
  Employee Payroll System-Admin Portal
</title>

</head>
<body>
<h1>Employee Payroll System-Admin Portal</h1>

    




<div>
    <h3><a class="nav-link" routerLink="/app-viewrememp">View Employee Record and Remove Employee</a></h3>
    </div>

<div>
   <!-- <h3><a href="#">Approve leave</a></h3> -->
</div>
    

<div>
  <h3><a class="nav-link" routerLink="/app-set-salary">Set/Update Salary for Employee</a></h3>
</div>

<div>
  <h3><a class="nav-link" routerLink="/app-home">Logout</a></h3>
</div>
<router-outlet></router-outlet>
</body>
</html>
