body{
    text-align:center;
    background-color: rgb(240, 241, 159);
}

h1{
    color:red;
}
h3{
    color:purple;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color:rgb(236, 149, 149);
    font-size: 25px;
  }
  
  .table ctd, #table th {
    border: 1px solid black;
    padding: 8px;
  }
  
  .tabletr:nth-child(even){background-color: red;}
  
  .table tr:hover {background-color: rgb(154, 154, 226);}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

