<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
<title>
  Employee Payroll System-Change Password
</title>

</head>
<body>
  
<form>
  <div class="container">
    <h1 style="color:blue">Employee Payroll System-Change Password</h1>
    <label for="currentpsw"><h4><b>Current Password</b></h4></label><br>
    <input type="password" placeholder="Enter Current Password" 
    [(ngModel)]="currentpsw" name="currentpsw" required><br>
    
    <label for="newpsw"><h4><b>New Password</b></h4></label><br>
    <input type="password" placeholder="Enter New Password" 
    [(ngModel)]="newpsw" name="newpsw" required>
    <br/><br>
    <label for="confirmpsw"><h4><b>Confirm New Password</b></h4></label><br>
    <input type="password" placeholder="Confirm New Password" 
    [(ngModel)]="confirmpsw" name="confirmpsw" required>
    <br><br>
    <button (click)="changepsw()" class="submitbtn" type="submit">Change password</button>
    {{msg}}
    <br/>
    <!--
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
        <h3><a class="nav-link" routerLink="/app-forgotpassword">Forgot password</a></h3>

    <h3><a class="nav-link" routerLink="/app-registration">New Employee Registration</a></h3>
    -->
  </div>
</form>
<br>

<router-outlet></router-outlet>
</body>
</html>

