body{
    text-align:center;
    background-color: rgb(186, 238, 240);
}
h1{
    color:red;
}
h3{
    color:blue;
}

.container
{
    padding:16px;
}
input[type=number]
{

    width: 20%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.salbtn
{
    background-color: blue;
    color:white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    width: 15%;
    opacity: 0.9;
}