<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
<title>
  Employee Payroll System-Forgot password
</title>

</head>
<body>
  
<form>
  <div class="container">
    <h1 style="color:blue">Employee Payroll System-Forgot password</h1>
   <!-- <label for="email"><h4><b>Employee email</b></h4></label><br>
    <input type="text" placeholder="Enter Employee email" name="email" required><br>-->
    <label for="eid"><h4><b>Employee Id</b></h4></label><br>
    <input type="number" placeholder="Enter Employee Id" name="eid" [(ngModel)]="eid" required><br>

    <label for="psw1"><h4><b>New Password</b></h4></label><br>
    <input type="password" placeholder="Enter New Password" name="psw1" [(ngModel)]="psw1"required>
    <label for="psw2"><h4><b>Confirm New Password</b></h4></label><br>
    <input type="password" placeholder="Confirm New Password" name="psw2" [(ngModel)]="psw2" required>
    
    <br/><br>
    <button (click)="onClick()" class="submitbtn" type="submit">Submit</button>
    <p class="msg1">{{msg}}</p>
    <p class="msg2">{{msg1}}</p>
    <br/>
    
  </div>
</form>
<br>
<router-outlet></router-outlet>
</body>
</html>

